@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.biografia {
  width: 100%;
  color: white;
}

.biografia h1 {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 2rem 0;
}

.biografia p {
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  margin: 0 0 2rem 0;
}

@media screen and (min-width: 1024px) {
  .biografia h1 {
    font-size: 3rem;
  }

  .biografia p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .biografia {
    margin: 0 auto;
    width: 80%;
  }
}
