@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.biografia {
  width: 100%;
  height: 100vh;
  background: url("/public/img/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio-texto {
  width: 60%;
  align-self: center;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
}

.bio-texto > p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 15%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: var(--back-color);
  border-bottom: 1px solid var(--secondary-color);
}

.zoe-letter {
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0px 0px 10px var(--secondary-color);
  font-size: 4rem;
  font-weight: 800;
  align-self: center;
  height: 100%;
  color: var(--secondary-color);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0 2em;
  flex: 1;
}

.header nav ul {
  display: flex;
  align-items: center;
  gap: 5em;
  flex-direction: row;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-shadow: 0px 0px 10px var(--secondary-color);
  color: var(--secondary-color);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  font-size: 3.5em;
  font-weight: 800;
  width: 100%;
  color: var(--secondary-color);
  margin-left: 0.5em;
  border-right: 0.15em solid var(--secondary-color);
  text-align: center;
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  background: linear-gradient(
    to right,
    var(--terciary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 968px) {
  .bio-texto {
    width: 60%;
  }
  .title {
    font-size: 2.5em;
  }
  .zoe-letter {
    font-size: 2.5rem;
  }

  .header nav ul {
    gap: 2em;
  }
}

@media screen and (max-width: 580px) {
  .bio-texto {
    width: 80%;

    margin-bottom: 6em;
  }

  .bio-texto p {
    margin: 0;
  }
  .title {
    font-size: 2em;
    white-space: normal;
    animation: none;
  }
  .zoe-letter {
    font-size: 2rem;
  }
  .header nav {
    display: none;
  }

  .header nav.open {
    display: block;
    position: relative;
  }

  .header nav ul {
    flex-direction: column;
    gap: 1em;
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
    background-color: var(--back-color);
    padding: 0;
    padding-bottom: 1em;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 40%;
    right: 5px;
    cursor: pointer;
    color: var(--secondary-color);
    z-index: 100;
  }

  .zoe-letter {
    display: none;
  }

  .bar {
    display: block;
    width: 2.5rem;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
  }
}
