.contacto-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 2em;
  margin-top: 5em;
}

.text-form {
  text-align: start;
  align-self: flex-start;
  width: 40%;
}

.form-container {
  align-self: flex-end;
  width: 30%;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-input label {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
}

.contacto-container input,
textarea {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 14px;
  outline: none;
  width: 95%;
  border: 1px solid var(--secondary-color);
  transition: background-color 0.3s ease;
}

.contacto-container textarea {
  height: 100px;
  resize: none;
}
.contacto-container input:focus,
textarea:focus {
  background-color: #444;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 800;
  transition: all 0.3s ease;
}

.button-form:hover {
  background-color: var(--text-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.contacto-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.contacto-text {
  align-self: flex-start;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .contacto-container {
    flex-direction: column;
    gap: 2em;
  }

  .text-form {
    width: 100%;
  }

  .form-container {
    width: 100%;
  }
}
